<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<include file="public/head" />
	</head>
	<body>
		<div class="content-wrap">
			<div class="content">
				<form action="{:U('Nav/save')}" method="post" enctype="multipart/form-data">
					<table class="form-table">
						<tr>
							<th>* 标题：</th>
							<td>
								<input type="hidden" value="{$nav.id|default=''}" name="id" />
								<input type="text" value="{$nav.nav_name|default=''}" name="nav_name" />
							</td>
						</tr>
						<tr>
							<th>链接：<small>（必须为绝对路径或完整url）</small></th>
							<td><input type="text" value="{$nav.nav_url|default=''}" name="nav_url" id="nav_url" /></td>
						</tr>
						<tr>
							<th>* 状态：</th>
							<td>
								<select name="nav_status">
									<option value="1" <eq name='nav.nav_status' value='1'>selected</eq> >显示</option>
									<option value="0" <eq name='nav.nav_status' value='0'>selected</eq> >隐藏</option>
								</select>
							</td>
						</tr>
						<tr>
							<th>* 打开方式：</th>
							<td>
								<select name="nav_target">
									<option value="_self" <eq name='nav.nav_target' value='_self'>selected</eq> >当前页面</option>
									<option value="_blank" <eq name='nav.nav_target' value='_blank'>selected</eq> >新窗口</option>
								</select>
							</td>
						</tr>
						<tr>
							<th>排序：<small>（数字越小越靠前）</small></th>
							<td>
								<input type="text" name="nav_sort" value="{$nav.nav_sort|default=''}" />
							</td>
						</tr>
						<tr>
							<th>备注：</th>
							<td><textarea name="nav_remark" style="width:100%;height: 100px;" >{$nav.nav_remark|default=''}</textarea></td>
						</tr>
						<tr>
							<td colspan="2" style="background:#fff;vertical-align: top;text-align: center;">
								<p class="post-edit-action">
									<input type="button" class="post-btn grey-btn" value="预览" onclick="previewNav()" />
									<input type="submit" class="post-btn green-btn" value="确定" />
									<input type="button" class="post-btn grey-btn" value="取消" onclick="history.go(-1);" />
								</p>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
		<script>
			function previewNav(){
				var navUrl = $('#nav_url').val();
				if(navUrl.indexOf('http') !== 0){
					navUrl = window.location.origin + navUrl;
				}
				window.open(navUrl,'_blank');
			}
		</script>
	</body>
</html>