<!DOCTYPE html>
<html>
	<head>
		<title>FSblog后台管理系统</title>
		<include file="public/head" />
	</head>
	<body class="whole-screen">
		<header class="header">
			<h2>— FSblog后台管理系统</h2>
			<div class="user-info">
				欢迎您，{:session('user')}， <a href="{:U('Index/logout')}" title='注销'>注销</a>
			</div>
		</header>
		<div class="left-content">
			<include file="public/nav" />
		</div>
		<div class="frame right-content">
			<iframe id="main" name="main" src="{:U('Index/main')}" ></iframe>
		</div>
		<!-- 宽高修正start -->
		<script type="text/javascript">
			$(window).resize((function () {
				$('.right-content').outerWidth($(window).width() - $('.left-content').outerWidth());
				var contentH = $(window).height() - $('.header').outerHeight();
				$('.right-content,.left-content').outerHeight(contentH);
				return arguments.callee;
			})());
		</script>
		<!-- 宽高修正end -->
	</body>
</html>