<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<include file="public/head" />
	</head>
  <body>
		<section role="login" class="login-form">
			<h2>后台管理登录</h2>
			<span class="login-error-notice">{$defaultVals.notice}</span>
			<form action="{:U('Index/login')}" method="post">
				<label for="user">
					帐号：<input type="text" id="user" name="user" value='{$defaultVals.user}' />
				</label>
				<label for="pwd">
					密码：<input type="password" id="pwd" name="pwd" value='{$defaultVals.pwd}' />
				</label>
				<button class="btn">登录</button>
			</form>
		</section>
	  <script type="text/javascript">
		  // 保持在最顶部
		  if(top!=self){
			  top.location.href = location.href;
		  }
	  </script>
  </body>
</html>
