/* 
    Created on : 2015-5-26, 14:57:59
    Author     : Findever <ifindever.com>
*/

/***********  reset *****************/
html {
	-webkit-text-size-adjust: none;
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
	font-size: 1.4rem;
	background: #fff;
	color: #000;
}
*{
	box-sizing: border-box;
}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
input[type="text"],input[type="password"]{
	padding: 5px 8px;
	border: 1px #ccc solid;
	background: #fff;
	line-height: 21px;
	height: 31px;
}
input[type="text"]:focus,input[type="password"]:focus{
	outline: none;
	border-color: #41C073;
}
button{
	margin: 0;
}
button,
input:not([type="radio"]):not([type="checkbox"]),
select {
	vertical-align: middle;
}

::-moz-placeholder{color:#999;} 
::-webkit-input-placeholder{color:#999;}
:-ms-input-placeholder{color:#999;}

a {
  color: #068966;
  text-decoration: none;
}
a:hover{
	color: #F5008C;
}
p{
	padding: 0;
	margin: 10px 0px;
}
code,pre{
	word-break: break-all;
	word-wrap: break-word;
}

/***********  公用 *****************/
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	clear: both;
}

/***********  icon *****************/
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/ico/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 4px;
}
.icon-white
 {
  background-image: url("../img/ico/glyphicons-halflings-white.png");
}
.icon12{
	margin-top: 2px;
}

.muted [class^="icon-"],
.muted [class*=" icon-"]{opacity: 0.40;filter:alpha(opacity=40);}
.icon-glass              { background-position: 0      0; }
.icon-music              { background-position: -24px  0; }
.icon-search             { background-position: -48px  0; }
.icon-envelope           { background-position: -72px  0; }
.icon-heart              { background-position: -96px  0; }
.icon-star               { background-position: -120px 0; }
.icon-star-empty         { background-position: -144px 0; }
.icon-user               { background-position: -168px 0; }
.icon-film               { background-position: -192px 0; }
.icon-th-large           { background-position: -216px 0; }
.icon-th                 { background-position: -240px 0; }
.icon-th-list            { background-position: -264px 0; }
.icon-ok                 { background-position: -288px 0; }
.icon-remove             { background-position: -312px 0; }
.icon-zoom-in            { background-position: -336px 0; }
.icon-zoom-out           { background-position: -360px 0; }
.icon-off                { background-position: -384px 0; }
.icon-signal             { background-position: -408px 0; }
.icon-cog                { background-position: -432px 0; }
.icon-trash              { background-position: -456px 0; }

.icon-home               { background-position: 0      -24px; }
.icon-file               { background-position: -24px  -24px; }
.icon-time               { background-position: -48px  -24px; }
.icon-road               { background-position: -72px  -24px; }
.icon-download-alt       { background-position: -96px  -24px; }
.icon-download           { background-position: -120px -24px; }
.icon-upload             { background-position: -144px -24px; }
.icon-inbox              { background-position: -168px -24px; }
.icon-play-circle        { background-position: -192px -24px; }
.icon-repeat             { background-position: -216px -24px; }
.icon-refresh            { background-position: -240px -24px; }
.icon-list-alt           { background-position: -264px -24px; }
.icon-lock               { background-position: -287px -24px; } 
.icon-flag               { background-position: -312px -24px; }
.icon-headphones         { background-position: -336px -24px; }
.icon-volume-off         { background-position: -360px -24px; }
.icon-volume-down        { background-position: -384px -24px; }
.icon-volume-up          { background-position: -408px -24px; }
.icon-qrcode             { background-position: -432px -24px; }
.icon-barcode            { background-position: -456px -24px; }

.icon-tag                { background-position: 0      -48px; }
.icon-tags               { background-position: -25px  -48px; }
.icon-book               { background-position: -48px  -48px; }
.icon-bookmark           { background-position: -72px  -48px; }
.icon-print              { background-position: -96px  -48px; }
.icon-camera             { background-position: -120px -48px; }
.icon-font               { background-position: -144px -48px; }
.icon-bold               { background-position: -167px -48px; }
.icon-italic             { background-position: -192px -48px; }
.icon-text-height        { background-position: -216px -48px; }
.icon-text-width         { background-position: -240px -48px; }
.icon-align-left         { background-position: -264px -48px; }
.icon-align-center       { background-position: -288px -48px; }
.icon-align-right        { background-position: -312px -48px; }
.icon-align-justify      { background-position: -336px -48px; }
.icon-list               { background-position: -360px -48px; }
.icon-indent-left        { background-position: -384px -48px; }
.icon-indent-right       { background-position: -408px -48px; }
.icon-facetime-video     { background-position: -432px -48px; }
.icon-picture            { background-position: -456px -48px; }

.icon-pencil             { background-position: 0      -72px; }
.icon-map-marker         { background-position: -24px  -72px; }
.icon-adjust             { background-position: -48px  -72px; }
.icon-tint               { background-position: -72px  -72px; }
.icon-edit               { background-position: -96px  -72px; }
.icon-share              { background-position: -120px -72px; }
.icon-check              { background-position: -144px -72px; }
.icon-move               { background-position: -168px -72px; }
.icon-step-backward      { background-position: -192px -72px; }
.icon-fast-backward      { background-position: -216px -72px; }
.icon-backward           { background-position: -240px -72px; }
.icon-play               { background-position: -264px -72px; }
.icon-pause              { background-position: -288px -72px; }
.icon-stop               { background-position: -312px -72px; }
.icon-forward            { background-position: -336px -72px; }
.icon-fast-forward       { background-position: -360px -72px; }
.icon-step-forward       { background-position: -384px -72px; }
.icon-eject              { background-position: -408px -72px; }
.icon-chevron-left       { background-position: -432px -72px; }
.icon-chevron-right      { background-position: -456px -72px; }

.icon-plus-sign          { background-position: 0      -96px; }
.icon-minus-sign         { background-position: -24px  -96px; }
.icon-remove-sign        { background-position: -48px  -96px; }
.icon-ok-sign            { background-position: -72px  -96px; }
.icon-question-sign      { background-position: -96px  -96px; }
.icon-info-sign          { background-position: -120px -96px; }
.icon-screenshot         { background-position: -144px -96px; }
.icon-remove-circle      { background-position: -168px -96px; }
.icon-ok-circle          { background-position: -192px -96px; }
.icon-ban-circle         { background-position: -216px -96px; }
.icon-arrow-left         { background-position: -240px -96px; }
.icon-arrow-right        { background-position: -264px -96px; }
.icon-arrow-up           { background-position: -289px -96px; }
.icon-arrow-down         { background-position: -312px -96px; }
.icon-share-alt          { background-position: -336px -96px; }
.icon-resize-full        { background-position: -360px -96px; }
.icon-resize-small       { background-position: -384px -96px; }
.icon-plus               { background-position: -408px -96px; }
.icon-minus              { background-position: -433px -96px; }
.icon-asterisk           { background-position: -456px -96px; }

.icon-exclamation-sign   { background-position: 0      -120px; }
.icon-gift               { background-position: -24px  -120px; }
.icon-leaf               { background-position: -48px  -120px; }
.icon-fire               { background-position: -72px  -120px; }
.icon-eye-open           { background-position: -96px  -120px; }
.icon-eye-close          { background-position: -120px -120px; }
.icon-warning-sign       { background-position: -144px -120px; }
.icon-plane              { background-position: -168px -120px; }
.icon-calendar           { background-position: -192px -120px; }
.icon-random             { background-position: -216px -120px; width: 16px; }
.icon-comment            { background-position: -240px -120px; }
.icon-magnet             { background-position: -264px -120px; }
.icon-chevron-up         { background-position: -288px -120px; }
.icon-chevron-down       { background-position: -313px -119px; }
.icon-retweet            { background-position: -336px -120px; }
.icon-shopping-cart      { background-position: -360px -120px; }
.icon-folder-close       { background-position: -384px -120px; width: 16px; }
.icon-folder-open        { background-position: -408px -120px; width: 16px; }
.icon-resize-vertical    { background-position: -432px -119px; }
.icon-resize-horizontal  { background-position: -456px -118px; }

.icon-hdd                     { background-position: 0      -144px; }
.icon-bullhorn                { background-position: -24px  -144px; }
.icon-bell                    { background-position: -48px  -144px; }
.icon-certificate             { background-position: -72px  -144px; }
.icon-thumbs-up               { background-position: -96px  -144px; }
.icon-thumbs-down             { background-position: -120px -144px; }
.icon-hand-right              { background-position: -144px -144px; }
.icon-hand-left               { background-position: -168px -144px; }
.icon-hand-up                 { background-position: -192px -144px; }
.icon-hand-down               { background-position: -216px -144px; }
.icon-circle-arrow-right      { background-position: -240px -144px; }
.icon-circle-arrow-left       { background-position: -264px -144px; }
.icon-circle-arrow-up         { background-position: -288px -144px; }
.icon-circle-arrow-down       { background-position: -312px -144px; }
.icon-globe                   { background-position: -336px -144px; }
.icon-wrench                  { background-position: -360px -144px; }
.icon-tasks                   { background-position: -384px -144px; }
.icon-filter                  { background-position: -408px -144px; }
.icon-briefcase               { background-position: -432px -144px; }
.icon-fullscreen              { background-position: -456px -144px; }

/***********  导航 *****************/
.top-nav{
	width: 100%;
	border-bottom: 1px #ccc solid;
	box-shadow: 0 0 8px #333;
	background-color: #f7f7f7;
}
.top-nav ul{
	width: 1000px;
	margin: 0 auto;
	height: 60px;
}
.top-nav ul:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.top-nav li{
	height: 40px;
	overflow: hidden;
	margin-top: 12px;
	margin-right: 20px;
	display: inline-block;
	float: left;
}
.top-nav li a{
	display: block;
	min-width: 80px;
	padding: 0px 20px;
	line-height: 36px;
	background-color: #41C073;
	color: #fff;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}
.top-nav li a:hover{
	color: #FCFCFC;
	background-color: #38B017;
}
.top-nav li.search-form{
	float: right;
	padding-top: 1px;
	margin-right: 0;
}
.top-nav li.search-form input{
	border: 1px #41C073 solid;
	font-size: 1.2rem;
	width: 150px;
	transition: width .3s;
}
.top-nav li.search-form input:focus{
	width: 250px;
}
.search-form .search-btn{
	height: 31px;
	border: 1px #41C073 solid;
	border-left: none;
	background: #41C073;
	padding: 0px 10px;
	color: #fff;
	font-size: 1.2rem;
}
/***********  内容区域 *****************/
.container{
	width: 1000px;
	margin: 30px auto;
}
.container:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.title{
	margin: 0;
	font-size: 1.6rem;
	background-color: #F7F7F7;
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	border-bottom: 1px solid #eaeaea;
	font-weight: normal;
}
.content,.sidebar{
	width: 70%;
	display: inline-block;
	background-color: #f7f7f7;
	box-shadow: 0 0 8px #BBB;
	vertical-align: top;
	min-height: 300px;
	float: left;
}
.post-item{
	padding: 10px 10px;
	background: #fff;
	border-bottom: 1px #E8E7E7 solid;
}
.post-item:hover{
	background-color: #FAFAFA;
	box-shadow: -2px 2px 5px #41C073;
}
.post-from-icon{
	font-style: normal;
	font-size: 1.4rem;
	background-color: #159606;
	margin-right: 5px;
	padding: 3px 5px;
	vertical-align: middle;
	display: inline-block;
	color: #fff;
	border-radius: 15px;
}
.post-from-icon.transport{
	background-color: #A6A6A6;
}

.post-item-title,.post-item-title a{
	font-size: 2rem;
	transition: margin .3s ease-in-out;
	vertical-align: middle;
}
.post-item-title span{
	display: inline-block;
	vertical-align: middle;
}
.post-item-title a:hover{
	margin-left: 10px;
}
.post-item .muted{
	margin-right: 20px;
	font-size: 12px;
	color: #999;
}
.post-item-remark{
	height: 100px;
	overflow: hidden;
	line-height: 1.785;
	word-break: break-all;
}
.post-item-remark:after{
	content: "...";
}
.post-item-thumbnail{
	float: left;
	width: 100px;
	vertical-align: middle;
	margin-right: 10px;
}
.pagination{
	text-align: center;
	padding: 15px 0px;
}
.pagination a,.pagination span{
	margin-right: 3px;
	background: #28C389;
	padding: 2px 8px;
	height: 26px;
	min-width: 30px;
	display: inline-block;
	color: #fff;
	border: 1px #28C389 solid;
}
.pagination span.current{
	background: #CBCBCB;
	border-color: #CBCBCB;
}
.pagination a:hover{
	background: #28C389;
	box-shadow: 0 0 5px #027E03;
	border-color: #44842A;
}
.post-item-content{
	font-size: 1.4rem;
	line-height: 2;
	text-indent:2em;
}
.post-page .post-item{
	background-color: #fff;
	box-shadow: none;
}
.post-item-content{
	background: #F9F9F9;
	padding: 10px;
	word-break: break-all;
	word-wrap: break-word;
}
.post-from-info{
	text-indent: 0;
	background: #EFEFEF;
	padding: 10px;
	color: #666;
	margin-top:15px;
}
.post-adjoin{
	text-indent: 0;
	padding: 10px 10px;
	background-color: #fff;
}
.post-adjoin:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.post-adjoin span{
	display: inline-block;
}
.post-item-comments{
	padding: 20px 10px;
}
/***********  侧边栏 *****************/
.sidebar{
	width: 28%;
	float: right;
}
/***********  底部 *****************/
.footer{
	width: 100%;
	background: #F7F7F7;
}
.footer p{
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0;
}