<footer class="footer">
			<p>
				&copy;{:date('Y')} by <a href="http://ifindever.com" title='ifindever' target="_blank">ifindever</a>
				由 <a href="http://www.thinkphp.cn/" target="_blank" title="thinkphp">Thinkphp</a> 强力驱动
				<a href='baidu.html' title='站点地图'>站点地图</a>
			</p>
		</footer>
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
			var duoshuoQuery = {short_name:"loacalhost"};
			(function () {
				var ds = document.createElement('script');
				ds.type = 'text/javascript';
				ds.async = true;
				ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
				ds.charset = 'UTF-8';
				(document.getElementsByTagName('head')[0]
						|| document.getElementsByTagName('body')[0]).appendChild(ds);
			})();
		</script>
		<!-- 多说公共JS代码 end -->
		<!-- 回到顶部代码 start -->
		<script type="text/javascript">
			$(function(){
				$('<div id="goTop"></div>').appendTo('body').click(function(){
					$('html,body').animate({'scrollTop':0},500);
				});
				$(window).scroll(function(){
					if($(window).scrollTop() > 100){
						$('#goTop').fadeIn();
					}else{
						$('#goTop').fadeOut();
					}
				})
			});
		</script>
		<!-- 回到顶部代码 end -->