<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<include file="public/head" />
	</head>
	<body>
		<include file="public/nav" />
		<section class="container">
			<div class="content">
				<h2 class="title">最新文章</h2>
				<volist name="posts" id="vo">
					<article class="post-item">
						<header class="post-item-title">
							<if condition="$vo['post_from']">
								<i class='post-from-icon transport'>转</i>
							<else />
								<i class='post-from-icon'>原</i>
							</if>
							<a href="{:U('Post/index',array('id'=>$vo['id']))}" target='_blank'>{$vo.post_title}</a>
						</header>
						<p>
							<span class="muted">
								<a href="" target="_blank"><i class="icon-user icon12"></i> {$vo.post_author}</a>
							</span>
							<span class="muted">
								<i class="icon-time icon12"></i> {$vo.post_date|dateToFriendlyWords}
							</span>
							<span class="muted">
								<i class="icon-eye-open icon12"></i> {$vo.post_view_count}浏览
							</span>
							<span class="muted">
								<a href="{:U('Post/index',array('id'=>$vo['id']))}#comments" target="_blank"><i class="icon-comment icon12"></i> {$vo.post_comment_count}评论</a>
							</span>
						</p>
						<p class="post-item-remark">
							<img class="post-item-thumbnail" src="<empty name='vo.post_thumbnail'>{$thumbnail}<else />{$vo.post_thumbnail}</empty>" onerror="this.src='{$thumbnail}';this.onerror=null;" alt="{$vo.post_title}" />
							{$vo.post_remark}
						</p>
					</article>
				</volist>
				<div class="pagination">
					{$pagination}
				</div>
			</div>
			<include file="public/side" />
		</section>
		<include file="public/foot" />
	</body>
</html>
