<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<include file="public/head" />
	</head>
	<body>
		<div class="content-wrap">
			<div class="content">
				<form action="post" enctype="multipart/form-data">
					<table class="form-table">
						<tr>
							<th>标题：</th><td></td>
						</tr>
						<tr>
							<th>转载来源：</th><td></td>
						</tr>
						<tr>
							<th>状态：</th><td></td>
						</tr>
						<tr>
							<th>缩略图：</th><td></td>
						</tr>
						<tr>
							<td colspan="2">
								<textarea id="container"></textarea>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
		<js href="__PUBLIC__/Admin/ueditor/ueditor.config.js" />    
		<js href="__PUBLIC__/Admin/ueditor/ueditor.all.min.js" />
		<script>
			$(function(){
				var ue = UE.getEditor('container',{
					serverUrl :"{:U('Post/ueditor')}"
				});
			});
		</script>
	</body>
</html>
